.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee3e3;
    padding: 10px 20px;
    
    
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #d2c8c8;
}

.nav-links li a:hover {
    color: #1676dd;
}
